# =========================

# Secrets

# =========================

.env
.env.*

# =========================

# Environments

# =========================

.venv/
env/
venv/

# =========================

# Raw data and dataset folders

# =========================

archive/
data/
raw_audio/
feature_cache/

# =========================

# Audio & numpy data

# =========================

*.wav
*.mp3
*.flac
*.npy
*.npz

# =========================

# Data files (Large CSVs)

# =========================

*.csv

# =========================

# Python/Jupyter junk

# =========================

**pycache**/
*.py[cod]
.ipynb_checkpoints/

# =========================

# Logs & temp files

# =========================

*.log
*.tmp

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDEs

# =========================

.vscode/
.idea/

# =========================

# Build / dist

# =========================

build/
dist/
*.egg-info/
